.btn-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

.he {
  width: 9rem;
  padding: 6px;
  margin: 7px;
}

.labelpay {
  display: flex;
  flex-direction: row;
}
