.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
  margin: 0;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #4cd964;
}

.toggle:checked:before {
  left: 32px;
}

.paymentMethodName {
  width: 30% !important;
}
.paymentHeading {
  width: 100%;
  font-size: 18px;
}

.fillAvailable {
  width: -webkit-fill-available;
}
.emptyBlock, .emptyTR {
    height: 1rem;
}

.flexProp {
  display: flex;
  align-items: center;
}

.pleaseUpdateNote {
  text-align: center;
}

.inputText {
  border-radius: 3px;
  border: 1px solid #4cd964;
  padding: 5px 5px;
  font-size: 17px;
}

.webhookEvent {
  width: 10rem;
}

.updateBtn {
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #4cd964;;
  padding: 7px 9px;
  color: white;
  cursor: pointer;
  background-color: #4cd964;
}

.copy_to_clipboard_message {
  position: fixed;
  left: 50%;
  top: 5rem;
  display:none;
}

.dw-nc-message-info {
  position: relative;
  left: -50%;
  background-color: #4cd964;
  color: white;
  font-size: 14px;
  margin: 1em auto;
  width: fit-content;
}

.selected {
  width: 80% !important;
  display: flex;
  flex-direction: row;
  border: 3px solid #93da8b;
  box-sizing: border-box;
  padding-top:5px;
}
.toggleButton {
  text-align: right !important;
  width:61% !important;
}
.imageName {
  width: 31% !important;
}
.paymentMethod {
  padding-bottom:10px;
  padding-top:5px;
}
.menuIcon {
  width:50px;
}