.btn-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}

.he {
  width: 100%;
}

.labelpay {
  display: flex;
  align-items: center;
  width: 100%;
}

.methodSvg {
  margin-bottom: 0;
}

.komoju-tab {
  height: 3rem;
}